<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Torneos de Tenis{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="arriba">
            <span class="menu-icon">☰</span>
            <h1><a href="{{ url_for('main.index') }}" class="home-link">🏆 Roland Bañós</a></h1>
            <a href="{{ url_for('auth.login') }}" class="user-icon">
            <i class="bi bi-person-circle"></i></a>
        </div>    
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Torneos de Tenis</p>
    </footer>
</body>
</html>
